@media (min-width: 993px)
  .header
    &__btn
      &:hover, &:active
        background-color: white
        color: $primary
        transition: 0.7s all  
        
  .menu
    &__hiden-item
      &:hover
        background: #1565D8
        transition: 0.7s all
    &__item
      &-link
        &:hover
          color: #3780e6
          transition: 0.5s all
  .search
    &__btn
      &:hover, &:active
        background-color: #076dfc
        transition: 0.5s all
    &__tag
      &:hover, &:active
        background-color: white
        color: $primary
        transition: 0.5s all
  .practice
    &__button
      &:hover, &:active
        border: 1px solid #287bf0
        background-color: white
        transition: 0.5s all
        .practice
          &__btn
            color: #287bf0            
            transition: 0.5s all
  .blog-posts
    &__button
      &:hover, &:active
        border: 1px solid #287bf0
        background-color: white
        transition: 0.5s all
        .blog-posts
          &__btn
            color: #287bf0            
            transition: 0.5s all

  .link
    &--see
      &:hover
        background-color: $primary
        color: white
        transition: 0.5s all
    
  .active
    &:hover
      background-color: #3f83e252
      transition: 0.2s all
      

  .subscribe
    &__form
      &-btn
        &:hover, &:active
          background-color: #076dfc
          transition: 0.3s all
  .footer
    &__icon
      &:hover
        color: #fff
    &__item
      &-link
        &:hover
          color: #fff
  .best
    &-offer
      &__link
        &:hover
          background-color: #3f83e252
          transition: 0.2s all          
          &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 1
            background-color: #679de952
            border-radius: 16px
  .practice
    &__item      
      &:hover
        background-color: #3f83e252
        transition: 0.2s all          
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          z-index: 1
          background-color: #679de952
          border-radius: 16px
  .blog-header
    &__btn
      &:hover, &:active
        background-color: white
        color: $primary
        transition: 0.7s all  
  
  #button
    &:hover
      cursor: pointer
      background-color: #1565D8

        


           

@media (max-width: 1440px)
  .all
    margin-bottom: 32px
  .subscribe
    &__container
      margin-top: 19px
  .header
    max-height: 735px
  .popular
    padding-top: 269px
  .footer
    &__hr
      max-width: 1100px
      width: 95%
  .blog-footer
    &__hr
      max-width: 1100px
      width: 95%
  
  .blog-header
    min-height: 635px
    &__container
      max-width: 1119px
    &__wrapper
      padding-right: 0
      padding-top: 0
    &__btn
      padding: 12px 23.77px
  .blog-posts
    padding: 6px 0
    padding-bottom: 88px
    margin-left: 0
  .blog-subscribe
    &__content
      padding: 25px 0 138px 0
    &__mailing
      margin-top: 56px
      margin-left: 0
    &__article
      margin-top: 0
  .blog-footer
    &--ml18
      margin-left: 0

@media (max-width: 1320px)
  .subscribe
    &__container
      justify-content: space-between
    &__article
      margin-left: 0
      &-decor
        &--blue
          right: -10px
  .blog-subscribe
    &__container
      justify-content: space-between
    &__article
      margin-left: 0
      &-decor
        &--blue
          right: -10px

@media (max-width: 1200px)
  .container
    max-width: 960px
  .best
    &-offer
      max-width: 960px
      &__title
        line-height: 40px
        font-size: 29px
      &__content
        padding: 22px 30px 26px 26px
      &__img
        width: 50%
      &__descr
        margin-bottom: 35px
  .practice
    &__swiper 
      max-width: 960px
    &__img
      width: 50% 
    &__button
      width: 44px
      height: 46px
      &--prev
        left: -15px
      &--next
        right: -15px
    &__btn
      display: block
      margin-top: 2px
      &--prev
        margin-left: -6px
      &--next
        margin-left: -6px
     

    &__content
      padding: 22px 30px 30px 30px
    &__subtitle
      line-height: 40px
      font-size: 29px
      
  .popular
    &__articles
      max-width: 470px
      max-height: 550px
      //padding: 40px 40px 40px 40px
    &__subtitle
      margin-bottom: 50px
  .latest
    &__card
      max-width: 310px
      max-height: 450px
    &__articles
      padding: 30px 30px 40px 30px
    &__descr
      min-height: 160px
  .all
    &__wrapper
      grid-template-rows: 550px 450px 
      grid-gap: 15px
    &__subtitle
      &--offer
        margin-bottom: 50px      
    &__articles
      padding: 30px 30px 40px 30px
    &__descr
      min-height: 160px  
  .subscribe
    &__article
      &-info
        max-width: 430px
        min-width: 350px
      &-decor
        &--blue
          right: -3%
        &--grey
          left: -6%
          bottom: -4%
    &__mailing
      max-width: 450px
      min-width: 271px
    &__form
      &-input
        min-width: 272px

  .blog-subscribe
    &__article
      &-info
        max-width: 400px
        min-width: 350px
      &-decor
        &--blue
          right: -3%
        &--grey
          left: -6%
          bottom: -4%
    &__mailing
      max-width: 450px
      min-width: 271px
    &__form
      &-input
        min-width: 272px
    &__descr
      width: 100%
  .blog-footer
    padding: 60px 0 82px 0px


  .break
    display: inline

@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &__btn
      max-width: 170px
  .search
    &__input
      min-width: 130px
  .menu
    &__item
      &:last-child
        margin-right: 30px
  .best
    &-offer
      width: 700px
      max-width: 700px
      &__img
        border-radius: 16px 16px 0 0
        min-height: 160px
        max-height: 350px
        object-fit: cover
        width: 100%
      &__link
        display: flex
        flex-direction: column
        max-height: 700px
      &__content
        border-radius: 0 0 16px 16px
        width: 700px
      &__title
        max-width: 670px
        min-width: 248px
      &__descr
        max-width: 670px
        margin-bottom: 38px
  .popular
    padding-bottom: 80px
    padding-top: 548px
    &__title
      text-align: center
    &__subtitle 
      max-width: 290px
      font-size: 32px
      line-height: 44px
    &__text
      text-align: center
    &__articles
      max-width: 340px
      padding: 60px 30px 30px 30px
  .link
    &--after
      display: block
      min-width: 172px
      min-height: 40px
      max-height: 100%      
      padding: 9px 4px 9px 18px
      margin-left: 75%
      margin-top: 5%
    &--hidden
      display: none
  .latest
    &__wrapper
      flex-wrap: wrap
      justify-content: space-between
      //justify-content: center
    &__card
      margin-bottom: 16px
      max-width: 340px
      //max-width: 361px
      &--hidden
        display: none
        
    &__title
      text-align: center
    &__info
      justify-content: center
    &__text
      text-align: center
  .practice
    padding-bottom: 60px
    &__swiper
      max-width: 700px
      min-height: 448px
      height: 99%
    &__img
      // max-width: 400px
      // max-height: 500px
      border-radius: 16px 16px 0 0
    &__content
      border-radius:  0 0 16px 16px
      width: 700px
      height: 355px
    &__info
      align-items: center
    &__subtitle
      line-height: 40px
      font-size: 29px
    &__subtext
      font-size: 16px
      line-height: 28px
    &__item
      flex-wrap: wrap
    &__img
      max-width: 700px
      width: 700px
    &__button      
      top: 48%
  .all
    &__title
      text-align: center
    &__text
      text-align: center
      max-width: 700px
    &__subtitle
      max-width: 310px
      font-size: 32px
      line-height: 44px
    &__wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, 450px)
    &__card
      &--first
      grid-column: 1 
      &--second
        grid-column: 2
      &--third
        grid-column: 1
      &--fourth
        grid-column: 2
      &--fifth
        grid-column: 1
      &--sixth
        grid-column: 2
      &--hidden
        display: block
  .link
    &--all
      margin: 0 auto
      margin-top: 48px
  .offer
    font-weight: 600
    font-size: 16px
    line-height: 22px   
  .hidden
    display: inline
  .offer
    font-size: 14px
    line-height: 20px
  .subscribe
    &__content
      padding-bottom: 30px
    &__title
      font-size: 30px
      line-height: 40px
      text-align: center
    &__container
      flex-wrap: wrap
      justify-content: center
    &__descr
      margin-bottom: 25px
      text-align: center
    &__form
      flex-wrap: wrap
      &-input
        flex-basis: 100%
        margin-bottom: 12px
      &-btn
        flex-basis: 100%
        margin-left: 0
    &__article
      &-title
        text-align: center
      &-info
        text-align: center
      &-decor
        &--blue
          right: -5%
  .blog-subscribe
    &__content
      padding-bottom: 30px
    &__title
      font-size: 30px
      line-height: 40px
      text-align: center
    &__container
      flex-wrap: wrap
      justify-content: center
    &__descr
      margin-bottom: 25px
      text-align: center
    &__form
      flex-wrap: wrap
      &-input
        flex-basis: 100%
        margin-bottom: 12px
      &-btn
        flex-basis: 100%
        margin-left: 0
    &__article
      &-title
        text-align: center
      &-info
        text-align: center
      &-decor
        &--blue
          right: -5%
    &__hr
      display: none
  .blog-footer
    &__hr
      display: none
    &__wrapper
      flex-wrap: wrap
    &__contacts
      margin: 0 auto
      text-align: center
      order: 5
    &__columns
      margin-left: 0
      margin-bottom: 47px
    &__logo
      margin-left: 30%
    &__icon
      margin-right: 0
    &__icons
      justify-content: space-between
  .blog-header
    &__title
      margin-left: 0
  .blog-posts
    padding-top: 230px
    &__post
      max-width: 700px      
    &__text
      max-width: 100%
      width: 100%
    &__contacts
      min-height: 20px
      &-title
        margin-bottom: 30px
      &--hidden
        display: flex
        flex-direction: row

      &--visible
        display: none
      &-icons
        flex-direction: row
      &-icon
        margin-bottom: 0
    &__photo
      min-width: 100%
    &__title
      width: 100%
    &__wrapper
      min-width: 100%
    &__quote
      width: 100%
  .gallery
    &__wrapper
      grid-gap: 15px
      grid-template-columns: 1fr 1fr
      grid-template-rows: 200px 200px

    
  .comments
    &__author
      flex-direction: column      
      &-info
        margin-left: 0
      &-img
        margin: 0 auto
      &-date
        text-align: center
      &-name
        text-align: center
    &__answer
      width: 100%
      &-input
        min-width: 70%
    &__wrapper
      //max-width: 700px
    &__content
      margin-left: 60px
      //max-width: 90%
      min-width: 50%
      max-width: 88%
      &-text
        min-width: 100%

  .blog-posts
    &__button      
      &--prev
        left: -2%
      &--next
        right: -2%
  .footer
    &__wrapper
      flex-wrap: wrap
    &__contacts
      margin: 0 auto
      text-align: center
      order: 5
    &__columns
      margin-left: 0
      margin-bottom: 47px
    &__logo
      margin-left: 30%
    &__icon
      margin-right: 0
    &__icons
      justify-content: space-between
    &__hr
      display: none




@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%
  .header
    &__wrapper
      display: none
    &__top
      align-items: center
  .search
    &__tags
      flex-wrap: wrap
    &__tag
      margin-bottom: 11px
    &__text
      font-weight: 600
      font-size: 14px
      line-height: 20px
      margin-bottom: 10px
    &__wrapper
      flex-wrap: wrap
  .best
    &-offer
      max-width: 100%
      width: 100%
      &__link
        width: 100%
      &__content
        width: 100%
        max-width: 576px
  .latest
    &__card
      max-height: 550px
      max-width: 576px
      width: 100%
      &--hidden
        display: block
    &__descr
      max-width: 100%
    &__subtext
      max-width: 100%
  .popular
    &__wrapper
      flex-wrap: wrap
      justify-content: center
    &__card
      margin-bottom: 16px
      max-width: 576px
      width: 100%
    &__articles
      max-width: 576px
      width: 100%
    &__subtitle
      max-width: 100%
  .link
    &--latest
      margin: 0 auto
      margin-top: 5%
      max-width: 172px
    &--popular
      margin: 0 auto
      margin-top: 5%
      max-width: 172px
  .practice
    &__swiper
      width: 100%
      max-width: 576px
    &__content
      width: 100%
      max-width: 576px
      min-height: 288px
      height: 330px
    &__subtext
      margin-bottom: 24px
    &__img
      width: 100%
  .all
    &__wrapper
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: 550px 550px 500px 500px 500px 500px
      grid-gap: 0
      grid-row-gap: 20px
    &__card
      &--first
      grid-column: 1
      &--second
        grid-column: 1 
      &--third
        grid-column: 1 
      &--fourth
        grid-column: 1 
      &--fifth
        grid-column: 1 
      &--sixth
        grid-column: 1 
    &__descr
      min-height: 100px
      width: 100%
    &__subtext
      width: 100%
      max-width: 100%
    &__subtitle
      max-width: 100%
    &__articles
      max-width: 576px
      width: 100%
      padding-top: 60px
  .subscribe
    &__form
      margin-bottom: 0
  
  .footer
    &__wrapper
    &__columns
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 300px 300px
      grid-gap: 45px
      margin: 0 auto
    &__column
      margin-left: 0
      min-width: 102px  
  .header-top
    &--button
      cursor: pointer
      outline: none
  .blog-header-top
    &--button
      cursor: pointer
      outline: none
  .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        width: 22px
        height: 17.7px
        border: none
        background-color: transparent
        cursor: pointer
        &__line         
          width: 22px
          height: 2.2px
          background-color: #fff
  .blog-footer
    &__wrapper
    &__columns
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 300px 300px
      grid-gap: 45px
      margin: 0 auto
    &__column
      margin-left: 0
      min-width: 102px
  .comments
    &__answer
      &-input
        min-width: 60%
  .quote
    padding: 50px 60px 86px 60px
    &__text
      font-size: 33px
  .blog-header
    &__wrapper
      &--hidden
        display: none
    &__top
      align-items: center
      margin-left: 24px
      margin-right: 24px
      



@media (max-width: 576px)
  #button
    display: none
  .header
    &__logo
      width: 77px
      height: 24px
    &__title
      font-weight: bold
      font-size: 32px
      line-height: 40px
  .search
    &__icon
      margin-top: 8px
    &__btn
      max-width: 100%

  .best-offer
    &__tag
      text-transform: uppercase
    &__content
      height: 310px

  .best-offer
    &__title
      font-size: 20px
      line-height: 24px
    &__descr
      font-size: 14px
      line-height: 24px
  .practice
    &__subtitle
      font-size: 20px
      line-height: 24px
    &__subtext
      font-size: 14px
      line-height: 24px
    &__content
      height: 312px
    &__swiper
      max-height: 660px
      min-height: 448px

  .author
    &__name
      font-size: 14px
      line-height: 20px
    &__status
      &-descr
        font-size: 12px
        line-height: 16px
    &__date
      font-weight: 600
      font-size: 14px
      line-height: 20px
  .search
    &__form
      position: relative
      margin-bottom: 74px
      min-height: 48px
      max-height: 48px
    &__btn
      position: absolute
      top: 68px
      left: 0
      width: 100%
      height: 48px
  .popular
    padding-top: 571px
    &__articles
      max-height: 450px
  .latest
    &__card
      max-height: 450px
    
  .popular, .latest, .practice, .all
    &__title
      font-size: 24px
      line-height: 32px
  .popular, .latest, .practice, .all
    &__text
      font-weight: normal
      font-size: 16px
      line-height: 30px
  .popular, .latest, .all, 
    &__subtitle      
      font-size: 25px
      line-height: 32px
  .latest, .all
    &__subtext
      font-size: 16px
      line-height: 21px
  .subscribe
    &__article
      display: none
  .all
    &__wrapper
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: repeat(6, 450px)
    &__card
      &--first
      grid-column: 2
      &--second
        grid-column: 2
      &--third
        grid-column: 2
      &--fourth
        grid-column: 2
      &--fifth
        grid-column: 2
      &--sixth
        grid-column: 2
  .blog-header
    &__title
      font-size: 32px
      line-height: 40px
      &-string
        margin-left: 0
  .blog-posts
    &__photo
      &-img
        min-height: 200px
    &__title
      font-size: 26px
      line-height: 36px
    &__text
      font-size: 14px
      line-height: 24px
      &--first
        font-size: 16px
        line-height: 28px
    &__quote
      padding: 30px 30px 70px 30px
      
  .author
    &__date
      &--post
        &--visible  
          display: none
        &--hidden
          display: block
  .quote
    &__text
      font-size: 25px
      line-height: 42px
  .gallery
    &__inner
      &--first
        grid-column: 1 / 3
        grid-row: 1 / 2
      &--second
        grid-column: 1 / 2
      &--third
        grid-column: 2 / 3
  .comments
    &__wrapper
      flex-direction: column
    &__content
      margin-left: 0
    &__title
      font-size: 26px
      line-height: 32px
    &__author
      margin-bottom: 16px
      flex-direction: row
      // justify-content: flex-start
      // align-items: flex-start
      &-date
        text-align: left
      &-img
        margin: 0
        margin-right: 13px
      &-name
        font-size: 14px
        line-height: 20px
        text-align: left
    &-text
      font-size: 14px
      line-height: 24px
    &__answer
      position: relative
      justify-content: flex-start
      width: 89%
      //filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.06))
      &-input
        font-weight: 600
        font-size: 14px
        line-height: 20px
        min-width: 50%
        max-width: 90%
      &-btn
        position: absolute
        top: 80px
        left: 0


  .blog-subscribe
    &__article
      display: none

  .quote
    &__descr
      &--hidden
        display: block
        font-size: 16px
        line-height: 22px
        text-align: center
      &--visible
        display: none


@media (max-width: 337px)
  .blog-posts
    &__title
      &--fs24
        font-size: 24px


@media (max-width: 320px)
  .container
    width: 90%
    &--320
      width: 85%
  .header
    padding-top: 8px
    max-height: 482px
    &__top
      margin-bottom: 60px
      margin-left: 8px
      margin-right: 7px
    &__title
      margin-bottom: 30px
    &__search
      margin-bottom: 24px
      margin-left: 8px
      margin-right: 8px
    &__wave
      &-img
        display: none
  .search
    &__input
      margin-left: 9px
      margin-top: 14px
      margin-left: 0
    &__btn
      top: 60px
    &__form
      margin-bottom: 72px
      padding: 2px 8px 5px 4px
    &__tag
      &:nth-child(1)
        margin-right: 10px
  .fa
    &--mt
      margin-left: 5%
      margin-top: 6%
  .best-offer
    &__img
      max-height: 160px
    &__content
      padding: 18px 20px 26px 19px
      height: 288px
    &__tag
      margin-bottom: 3px
      padding: 7px 11.5px
    &__title
      margin-bottom: 0
    &__descr
      margin-bottom: 24px
  .author
    &__avatar
      width: 36px
      height: 36px
      &--mr5
        margin-right: 14px
    &__status
      &--practice
        width: 116px
  .writer
    &--hidden
      display: none
  .customer
    &--hidden
      display: inline-block


    &__status
      justify-content: flex-start
      &-img
        margin-right: 6px
  .popular
    padding-top: 453px
    padding-bottom: 67px
    &__title
      margin-bottom: 12px
    &__info
      margin-bottom: 32px
    &__articles
      padding: 27px 20px 22px 20px
    &__subtitle
      margin-bottom: 46px
      &--mb36
        margin-bottom: 5px
        margin-left: 0
    &__span
      &--ml10
        margin-left: -6px

  .offer
    &--main
      top: 20px
      left: 20px
      font-size: 14px
      line-height: 20px
      padding: 2px 8px
  .link
    &--after
      margin-top: 16px
      padding: 7px 1px 7px 16px
    &--latest
      margin-top: 28px
      margin-left: 19%
    &--mt20
      margin-top: 26px
      margin-left: 18%
    &--more
      display: none
    &--seeall
      display: block
      padding: 7px 15px 7px 13px
      text-align: center
      max-width: 173px
      //height: 39px
      margin: 0 auto
      margin-top: 33px
      margin-left: 55px

  .latest
    padding-bottom: 44px
    &__title
      margin-bottom: 2px
    &__text
      font-size: 14px
      line-height: 24px   
    &__info
      margin-bottom: 6px 
    &__articles
      padding: 29px 20px 19px 20px
    &__subtext
      margin-bottom: 1px
      height: 60px
      min-height: 67px
    &__descr
      min-height: 95px
      margin-top: 0
    &__subtitle
      margin-bottom: 8px   
  
  .practice
    padding-bottom: 43px
    &__title
      margin-left: -4px 
      margin-bottom: 12px
    &__text
      font-size: 14px
      line-height: 24px
      text-align: center
    &__info
      margin-bottom: 9px
    &__img
      max-height: 160px
    &__content
      height: 288px
      padding: 23px 19px 24px 17px
    &__subtitle
      font-size: 20px
      line-height: 24px
      margin-bottom: 0
    &__subtext
      font-size: 14px
      line-height: 24px
      margin-left: 2px
    &__offer
      font-size: 14px
      line-height: 20px
      text-transform: uppercase
      margin-bottom: 8px
      background-color: rgba(21, 101, 216, 0.1)
      padding: 1px 18.5px
    &__button
      top: 31%
      width: 39px
      height: 40px
      &--next
        right: -9px
      &--prev
        left: -9px
    &__btn
      margin-top: 0
      &--prev
        margin-left: -7px
      &--next
        margin-left: -7px
    &__span
      &--ml3
        margin-left: -8px
    &__img
      &--visible
        display: none
      &--hidden
        display: block

  .all
    margin-bottom: 64px
    &__title
      margin-right: 9px
      margin-bottom: 12px
    &__text
      font-size: 14px
      line-height: 24px
      margin-left: -9px
      margin-bottom: 26px
    &__wrapper
      grid-template-rows: repeat(6, 320px)
      grid-row-gap: 16px
      grid-column-gap: 0
    &__articles
      padding: 34px 20px 19px 20px
    &__subtitle
      &--wtext
        margin-bottom: 8px
      &--mb48
        margin-bottom: 48px
      &--mb33
        margin-bottom: 0
    &__subtext
      min-height: 60px
      height: 60px
    &__descr
      min-height: 95px
    &__img
      &--hidden
        display: block        
      &--visiible
        display: none

  .offer
    &--all
      top: 23px
      left: 18px
      &--t25
        top: 25px
        left: 20px
    
  .popular
    &__text      
      font-size: 11px
      line-height: 24px

  .popular
    &__articles
      height: 320px
  .latest
    &__card
      height: 320px
  
  .latest, .all, .popular
    &__subtitle
      font-size: 20px
      line-height: 24px
    &__subtext
      font-size: 14px
      line-height: 24px
  .latest
    &__subtext
      &--fs17
        line-height: 21px
        
  .lowercase
      text-transform: lowercase         
  .header-top
    &--button
      margin-top: 11px
      margin-right: 2px
  .blog-header-top
    &--button
      margin-top: 11px
      margin-right: 2px
  .author
    &__status
      &--w98
        width: 98px
      &--w116
        width: 116px
    &__name
      &--hidden
        display: inline-block
      &--visible
        display: none
    &__avatar
      &--visible
        display: none
      &--hidden
        display: inline-block
  .all
    &__subtext
      &--fs17
        line-height: 21px

  .subscribe
    padding-top: 13px
    &__content
      padding-top: 1px
    &__title
      font-size: 24px
      line-height: 32px
      text-align: left
      max-width: 226px
      margin-bottom: 8px
    &__mailing
      margin-top: 54px
      margin-left: 9px
    &__span
      &--visible
        display: none
      &--hidden
        display: inline
    &__form
      &-input
        height: 48px
        min-width: 95%
        flex-basis: 97%
      &-btn
        min-height: 48px
        height: 48px
        flex-basis: 97%
        font-size: 16px
        line-height: 22px
        padding: 14px 48px 15px 49px
    &__descr
      font-size: 14px
      line-height: 27px
      text-align: left
    &__wave
      display: none

  .footer
    padding-bottom: 1px
    padding-top: 32px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 18px
    &__columns
      margin-left: 8px
      grid-column-gap: 42px
      grid-row-gap: 9px
      grid-template-rows: 232px 202px
      margin-bottom: 11px
    &__item
      margin-bottom: 13px
      &-link
        font-size: 14px
        line-height: 20px
    &__policy
      &--visible
        display: none
      &--hidden
        display: inline-block
    &__column
      &:nth-child(4)
        margin-left: 0
    &__more
      &--visible
        display: none
      &--hidden
        display: inline-block
    &__logo
      width: 77px
      height: 24px
      margin-left: 36%
      margin-bottom: 17px
    &__descr
      font-size: 14px
      line-height: 28px
      max-width: 264px
      margin-right: 10px
      margin-bottom: 24px
    &__icons
      max-width: 181px
      margin: 0 auto
    &__copyring
      display: none
    &__change
      &--hidden
        display: none
  .quote
    &__text
      font-size: 23px
      line-height: 30px
  .blog-header
    &-top
      &--button
        margin-right: -18px
    padding-top: 8px
    &__container
      width: 88%
    &__top
      margin-bottom: 81px
      
    &__logo
      width: 77px
      height: 24px
  .blog-header
    min-height: 360px
    &-title
      &--ml10
        margin-right: 8px
    &__wave
      &-img
        display: none
  .blog-posts
    padding-bottom: 134px
    &__line
      &--first
        margin-bottom: 13.5px
    &__contacts
      &-title
        margin-right: 14px
        margin-top: -1px
      &-icon
        &--facebook, &--linkedin, &--instagram
          margin-left: 4px
        &--twitter, &--instagram, &--linkedin, &--facebook
          font-size: 16px
          line-height: 18px
      &-title
        font-size: 14px
        line-height: 20px
    &__text
      font-size: 12px
      line-height: 22px
      &--pl5
        padding-left: 5px
        min-width: 276px
      &--first
        margin-bottom: 39px      
      &--six
        margin-left: -2px
      &--seven
        margin-bottom: 79px
          
    &__paragraph
      &--one
        margin-bottom: 38px
      &--three
        margin-bottom: 21px
      &--four
        margin-bottom: 30px
      &--five
        margin-bottom: 75px
      &--six
        margin-bottom: 90px
      &--seven
        margin-bottom: 24px
    &__title
      font-size: 21px
      line-height: 32px
      &--big
        margin-bottom: 18px
      &--fs24
        font-size: 24px
        line-height: 32px
        margin-left: 3px
        margin-bottom: 8px
      &--two
        margin-bottom: 11px
        width: 103%
        font-size: 20px
        line-height: 24px
      &--three
        line-height: 42px
        margin-left: -3px
        margin-bottom: 2px
      &--five
        font-size: 20px
        line-height: 24px
        margin-bottom: 15px
      &--seven
        font-size: 20px
        line-height: 24px
        margin-bottom: 13px
    &__swiper
      width: 272px
      height: 200px
    &__image
      height: 100%
      object-fit: cover  
    &__swiper
      margin-left: -4px   
    &__button
      width: 39px
      height: 40px
      &--prev
        left: -9%
        top: 50.8%
      &--next
        right: -5%
        top: 45.8%
    &__btn
      width: 13px
      height: 16px
      transform: translateY(-69%)
      &--prev
        margin-left: -7px
      &--next
        margin-left: -6px        
    &__text
      &--first
        font-size: 16px
        line-height: 28px
      &--three
        margin-left: -2px
        margin-bottom: 28px
    &__post
      &--first
        padding-top: 33px
        margin-bottom: 58px
    &__author
      &--first
        margin-bottom: 33px
    &__photo
      &-img
        margin-bottom: 9px
        object-fit: cover
      &-descr
        font-size: 12px
        line-height: 16px
        &--swiper
          margin-top: 9px
          margin-right: 8px
    &__gallery
      margin-bottom: 33px
    &__wrap
      &--one
        display: none
      &--br
        width: 100%
        display: block
        height: 1px
        margin-top: -1px
    &__quote
      margin-left: -24px
      margin-bottom: 112px
    &__author
      &--second
        margin-bottom: 16px
  .quote
    padding: 47px 24px 75px 21px
    width: 320px
    border-radius: 0
    &::before
      content: ""
      position: absolute
      width: 101px
      height: 175px
      background: #F5E5E5
      top: 0
      right: 0
      background: url("../img/oval-320.svg") no-repeat
    &__icon
      margin-bottom: 25px
    &__text
      font-size: 23px
      line-height: 30px
      max-width: 276px
      letter-spacing: 1px
      margin-bottom: 61px
    &__span
      &--ml
        margin-left: 6px
      &--hidden
        display: inline-block
    &__descr
      &--hidden
        max-width: 206px
        margin: 0 auto
    &__sponsor
      width: 96px
      height: 96px
      bottom: -47px
  .author
    &__status
      &--flex
        justify-content: flex-start
      &-descr
        &--ml8
          margin-left: 8px
    &__date
      &--post
        &--hidden
          font-size: 10px
          line-height: 14px
    &__name
      &--mb1
        margin-bottom: 1.5px
  .gallery
    &__wrapper
      grid-gap: 12px
      grid-template-rows: 176px 100px
    &__descr
      font-size: 12px
      line-height: 16px
      width: 244px
      margin: 0 auto
  .comments
    &__text
      &--hidden
        display: inline
      &--visible
        display: none
    &__wrapper
      margin-bottom: 19px
      &--second
        margin-bottom: 22px
    &__content
      max-width: 100%
      padding: 16px
      &-text
        font-size: 14px
        line-height: 24px
    &__author
      &-date
        font-size: 12px
        line-height: 18px
      &-img
        width: 36px
        height: 36px
        margin-top: 2px
      &-name
        margin-bottom: 3px
    &__title
      font-size: 24px
      line-height: 32px
    &__answer
      width: 100%
      min-height: 60px
      background-color: #fff
      filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.06))
      &-btn
        top: 76px
        padding: 9px 16px
        max-width: 182px
      &-avatar
        width: 36px
        height: 36px
        margin-right: 9px
  .blog-subscribe
    &__wave
      display: none
    &__title
      font-size: 24px
      line-height: 32px
      text-align: left
      margin-bottom: 8px
    &__mailing
      margin-top: 47px
    &__form
      margin-bottom: 0
      &-input
        height: 48px
        min-height: 48px
      &-btn
        min-height: 48px
        height: 48px
        font-size: 16px
        line-height: 22px
        padding: 13px 48px 15px 49px
    &__descr
      font-size: 14px
      line-height: 27px
      text-align: left
      max-width: 272px
    &__content
      padding-bottom: 0
  .blog-footer
    padding: 49px 0 1px 0px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 18px
    &__item
      margin-bottom: 13px
      &-link
        font-size: 14px
        line-height: 20px
    &__columns
      grid-template-rows: 241px 214px
      margin-left: -4px
      grid-row-gap: 0
      grid-column-gap: 42px
    &__column
      &:nth-child(4)
        margin-left: 0
    &__more
      &--visible
        display: none
      &--hidden
        display: block
    &__policy
      &--visible
        display: none
      &--hidden
        display: block
    &__logo
      width: 77px
      height: 24px
      margin-left: 33%
      margin-bottom: 16px
    &__descr
      font-size: 14px
      line-height: 28px
      max-width: 263px
      margin-left: -17px
      margin-bottom: 24px
    &__change
      &--visible
        display: none
    &__icons
      margin: 0 auto
      max-width: 181px
    &__icon
      margin-right: 0
      &--google, &--twitter
        margin-right: -7px
      &--instagram
        margin-right: -2px
      &--youtube
        margin-right: 3px
    &__copyring
      display: none

@media (max-width: 319px)
  .quote
    max-width: 200%
    width: 117.7%


