.popular
  padding-bottom: 96px
  padding-top: 264px
  &__card
    position: relative     
    border-radius: 16px
    overflow: hidden
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: -1
      background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, rgba(22, 49, 70, 0.453847) 45.38%, #152532 100%)
      border-radius: 8px
  &__articles
    display: flex
    flex-direction: column
    align-items: flex-start
    text-decoration: none 
    padding: 48px 48px 42px 48px
    height: 100%
    width: 555px
    height: 600px   
  &__info
    display: flex
    margin-bottom: 45px
    justify-content: space-between
  &__title
    font-family: Roboto
    font-weight: bold
    font-size: 36px
    line-height: 48px
    margin-bottom: 16px
    letter-spacing: 0.2px    
  &__subtitle
    max-width: 459px
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: #ffffff
    margin-top: auto
    margin-bottom: 76px
    letter-spacing: 0.2px
    &--mb36
      margin-bottom: 36px
      margin-left: -2px
  &__text
    font-weight: normal
    font-size: 18px
    line-height: 32px    
    max-width: 668px
  &__wrapper
    display: flex
    justify-content: space-between
  
  &__img
    position: absolute
    top: 0
    top: 0
    right: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2
    object-fit: cover
.offer
  &--main
    position: absolute
    top: 32px
    left: 32px
.author
  color: $white
  width: 100%